/* SECCION CONOCEME */
.texto {
  color: white;
  background-color: black;
  text-align: center;
  padding: 30px;
  border: solid 1px white; }

.texto {
  color: white;
  background-color: black;
  text-align: center;
  padding: 30px;
  border: solid 1px white; }

